.header-main {
  height: 85px;
}

.topic-list-main-link a.title,
.topic-list .main-link a.title {
  color: #464646;
  font-size: 0.8em;
}

#topic-footer-buttons .combobox,
#topic-footer-buttons .btn {
  margin-top: 75px;
}
.topic-post nav.post-controls button.reply {
  margin-right: 1rem;
  max-width: 60px;
}

.topic-post nav.post-controls button.reply:after {
  content: "Reply";
}