.header-main {
  height: 85px;
}

.top-nav {
  & .links {
    margin: 0;

    & li {
      margin-right: 0;
      padding: 0.4rem;
    }
  }

  & li > a {
    font-size: 1.125rem;
    padding: 0;
  }
}

.topic-list-main-link a.title,
.topic-list .main-link a.title {
  color: #464646;
  font-size: 0.8em;
}

#topic-footer-buttons .combobox,
#topic-footer-buttons .btn {
  margin-top: 75px;
}
.topic-post nav.post-controls button.reply {
  margin-right: 1rem;
  max-width: 60px;
}

.topic-post nav.post-controls button.reply:after {
  content: "Reply";
}