/**

* Common css for Tripeaks Forum Theme
*
* These are styles shared between desktop and mobile.
*
* Variables
* Discourse allows you to upload files and assign variables
* Variable are also defined in about.json
* The following variables are used in this scss file but not in about.json
* ==================================================================
* $main-header
* $wave-tile-pattern
* ==================================================================
*/

$teal: #50b69c;

@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

html {
  background-color: #0f262c;
  font-size: 16px;
}

body {
  background-color: #ffffff;
  min-height: 75%;
}

a, a:link, a:visited, a:focus {
  color: #39c5fc;
  font-weight: 300;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

#topic-title h1 a {
  color: #303030;
  font-family: 'Londrina Solid', Tahoma, Arial;
  letter-spacing: 1px;
}

.category-list tbody .category h3 {
  font-family: 'Londrina Solid', Tahoma, Arial;
  letter-spacing: 1px;

}

a.badge-wrapper {
  font-weight: 400;
}

/* Alerts */
.alert {
 padding: 1em 1.5em;
}

.alert.alert-info {
  background-color: $highlight;
}

.popup-tip {
  padding: 0.4rem 0.8rem;
  border-radius: 1em;
}


/* Header */

.header-main {
  display: block;
  background: url($main-header) top center;
  background-size: cover;
}

.d-header {
  background-color: $teal;
  color: $secondary;
}

.d-header .extra-info-wrapper .topic-link {
  color: $secondary;
}

.d-header-icons .icon {
  color: $secondary;
}

.d-header-icons .btn-flat .d-icon {
  opacity: 1;
}

.drop-down-visible .d-header-icons .active .icon {
  color: #ffff99;
}

.badge-wrapper.bullet span.badge-category,
.d-header .extra-info-wrapper .badge-wrapper.bullet span.badge-category {
  color: #384645;
}

/* Timeline */
.timeline-container .topic-timeline .timeline-handle {
  background-color: $teal;
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: rgba(80, 182, 156, 0.5);
}

/* Buttons */
.btn {
  padding: 0.4rem 0.8rem;
  border: 2px solid #d8d5d5;
  border-radius: 1em;
}

.topic-timeline .btn.no-text {
  border: none;
}

.btn-primary {
  background: $teal;
  border: 2px solid #99cccc;
}

.list-controls .btn {
  border: none;
}

.topic-map .buttons .btn {
  border-radius: 0;
}
/* Toolbar */

.nav-pills > li > a {
  border-radius: 1em;
  padding: 0.4rem 0.8rem;
}

.nav-pills > li.active > a,
.nav-pills > li > a.active {
  background-color: $teal;
  border-radius: 1em;
}

.nav-pills > li > a:hover {
  background-color: #b7e0d6;
  color: #f2fbfa;
}

.list-controls .category-breadcrumb .dropdown-header:first-child {
  border-radius: 1em 0 0 1em;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
}

.list-controls .category-breadcrumb .dropdown-header.category-dropdown-button {
  border-radius: 0 1em 1em 0;
  padding: 0.4rem 0.8rem 0.4rem 0;
  margin-left: -5px;
}

.open .grippie {
  background: $teal;
}

/* Footer */
.footer {
 background: #0f262c url($wave-tile-pattern) left top repeat-x;
 padding: 6rem 3rem 3rem;

 & .links {
   text-align: center;
   list-style-type: none;

   & li {
     padding: 0.5rem 1rem;
     display: inline-block;

     & a {
       color: $secondary;
     }
   }
 }
}
