.header-main {
  background: url($main-header-tile) top left repeat-y, url($main-header) top center no-repeat;
}

@media (min-width: 1610px) {
  .header-main {
    background: url($main-header-tile) top left repeat-y, url($main-header) top center no-repeat;
    background-size: contain;
  }
}