.header-main {
  height: 174px;
}


.top-nav {
  & .links {

    & li {
      margin-right: 1.2em;
      padding: 0.4em 0.8rem;
    }
  }

  & li > a {
    font-size: 1.75rem;
    padding: 0 0.8em 0.4rem;
  }
}

// Prevent scrolling on sign in modal
.fixed-modal .modal-body {
  max-height: none !important;
}